
.blink {
    text-align: center;
    text-shadow: 2px 2px #070707 !important;
    margin-top: 100px;
    color: white;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .card_main {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
  }
  .card {
    flex: 1 0 31%;
    max-width: 31%;
    background-color: green;
    padding: 1rem 0;
    margin: 15px 0px;
  }

  @media only screen and (max-width:760px) {
   .card_main {
    flex-wrap: wrap;
   } 
   .card {
    flex-basis: 100%;
   }
  }
  h1 span {
    font-size: 16px;
  }

  .country {
    background-color: blueviolet;
  }

  .confirmed {
    background-color: yellowgreen;
  }

  .active {
    background-color: aqua;
  }

  .daaths {
    background-color: red;
  }

  .lastupdated {
    background-color: blue;
  }